.VSCodeCounter
.vscode
*.code-workspace

# Local History for Visual Studio Code
.history/
*.app
.snapshots/*

*.o
*.exe
*.dll

__pycache__
*.pyc

Test/**

compile_commands.json

.cache